typescript/node_modules
typescript/dist
typescript/tsconfig.tsbuildinfo
typescript/.env
typescript/lastmileai-semantic-retrieval-v0.0.1.tgz
.env

python/build
__pycache__/
.mypy_cache/
.pytest_cache/
semantic_retrieval.egg-info
.DS_Store
.virtual_documents
.ipynb_checkpoints
**scratch**
python/build