aiconfig.log
typescript/node_modules
typescript/dist
typescript/tsconfig.tsbuildinfo
typescript/.env
typescript/*.tgz
.env

python/build
python/dist
python/**/*.egg-info/
__pycache__/
.mypy_cache/
.pytest_cache/
semantic_retrieval.egg-info
.DS_Store
.virtual_documents
.ipynb_checkpoints
**scratch**
python/build
python/dist
callback_data.json
examples/example_data/financial_report/artifacts/the_metadata_db*
.virtual_documents