requests==2.30.0
black
flake8
pytest
pydantic>=2.1
openai==0.28.1
python-dotenv
pytest-asyncio
pyright
cchardet
pandas
chardet
scikit-learn
result
langchain==0.0.325
tiktoken
pinecone-client
python-aiconfig